.introduction-bg {
  box-shadow: inset 0 -120px #fff;
  background-color: var(--cor-12);
}

.introduction {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
}

.introduction-sobre {
  align-self: end;
  padding-bottom: 200px;
}

.introduction-sobre h1 {
  margin-bottom: 32px;
}
.introduction-sobre p {
  margin-bottom: 32px;
}

.nimbus-home img {
  height: 100%;
  object-fit: cover;
}

/* RESPONSIVO */

@media (max-width: 1200px) {
  .font-1-xxl {
    font-size: 3rem;
  }
  .font-2-l {
    font-size: 1.125rem;
  }

  .introduction-sobre h1 {
    margin-bottom: 16px;
  }
  .introduction-sobre p {
    margin-bottom: 16px;
  }
}

@media (max-width: 600px) {
  .botao-global {
    padding: 12px 16px;
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  .introduction-bg {
    background-color: var(--cor-12);
    box-shadow: inset 0 -60px #fff;
  }
  .introduction-sobre h1 {
    font-size: 32px;
  }

  .introduction {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .introduction-sobre {
    padding-top: 40px;
    padding-bottom: 0px;
  }
  .nimbus-home img {
    height: 300px;
    width: 100%;
  }
}
